body {
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 20px 25px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 6px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  margin: 15px 20px;
  text-align: center;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: white;
}
button {
  display: block;
  margin: 0 auto;
  background: lightskyblue;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  padding: 16px 24px;
  border: 1px solid lightskyblue;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color: mediumblue;
  color: white;
  border: 1px solid mediumblue;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 30px;
}
.intro {
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
}
.codedBy {
  text-align: center;
  font-size: 18px;
  margin: 15px 20px;
}
